@use 'scss/colors';

.blankState {
  margin: auto;
  max-width: 520px;
  text-align: center;
  color: colors.$kobo-gray-700;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: colors.$kobo-gray-800;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
}

.support {
  margin-top: 16px;
  font-size: 0.9rem;
  color: colors.$kobo-gray-600;
}
